/****************************************************************
                                    APPOINTMENT
*****************************************************************/

.appointment {
    padding: 100px 0;
    background-color: var(--color-primary);
    height: 100vh;
    background-image: url(../IMG/chair-ic.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 300px;
}

.appointment h2 {
    color: var(--color-primary-light);
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.appointment img {
    display: block;
    margin: 0 auto;
}

.appointment form {
    margin-top: 80px;
}

.appointment .personal-data {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.appointment .imput-wrapper {
    width: 100%;
    margin-right: 50px;
}

.appointment .imput-wrapper:last-of-type {
    margin-right: 0;
}

.appointment label {
    display: block;
    color: var(--color-primary-light);
    font-size: 14px;
    margin-bottom: 3px;
}

.appointment .personal-data input, 
.appointment .personal-data select, 
.appointment textarea {
    padding: 10px;
    outline: none;
    border: none;
    width: 100%;
    border-radius: 3px;
}

.appointment textarea {
    height: 100px;
}

.appointment button {
    background-color: var(--color-secondary);
    color: white;
    padding: 15px 40px;
    border: none;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
}