/****************************************************************
                                    HOME
*****************************************************************/

.home {
    background-size: cover;
    background-image: url(../IMG/bg-home.jpg);
    height: 100vh;
    /* viewport height (area vissivel do navegador)*/
    background-attachment: fixed;
}

.home .header {
    padding: 30px 0;
}

.home .header .nav {
    display: flex;
    justify-content: center;
}

.home .header .nav ul {
    display: flex;
    list-style: none;
}

.home .header .nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.home .header .nav ul li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    padding: 20px;
    transition: all 800ms;
    
}

.home .header .nav ul li .logo {
    margin: 0 30px;
}

.home .header .nav ul li a:hover {
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.botaoMenu img {
    display: none;
}

.abrirMenu.aberto {
    display: block;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    padding: 20px;
    transition: all 800ms;
    width: 250px;
    height: 380px;
    background-color: red;
    position: absolute;
    top: 20px;
    left: 10px;
    
    
}

@media (max-width: 1100px) {
    .botaoMenu img {
        display: flex;
        
        width: 60px;
        height: 60px;
        cursor: pointer;
        
    }
    
    .home .header .nav ul {
        display: none;
    }
}
