/****************************************************************
                                    LOCATION
*****************************************************************/

.location {
    padding: 100px 0;
    background: url(../IMG/bg-location.jpg);
    background-size: cover;
}

.location .head {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-secondary-dark);
    padding: 40px;
    width: 100%;
}

.location .head .info {
    display: flex;
    align-items: center;  
}

.location .head .info .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-primary);
    border-radius: 100%;
    width: 50px;
    height: 50px; 
    margin-right: 10px;
}

.location .head .info .text span {
    display: block;
    font-size: 14px;
}

.location .head .info .text span:first-child {
    color: silver;
}

.location .head .info .text span:last-child {
    color: white;
}
.location .map {
    width: 100%;
}

.location .map iframe {
    width: 100%;
}

@media (max-width: 1050px){
    
}