
/****************************************************************
                                HOME-BANNER
*****************************************************************/ 
.home .banner {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 270px;
    width: 770px;
    margin-left: -385px;
    margin-top: -75px;
    color: white;
    text-align: center;
}

.home .banner .span {
    display: block;
}

.home .banner .slogan1 {
    color: var(--color-primary);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
}

.home .banner h1 {
    font-size: 120px;
}

.home .banner .slogan2 {
    margin-bottom: 15px;
}


@media (max-width: 1050px){
    .home .banner {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 150px;
        width: 250px;
        
        color: white;
        text-align: center;
    }
    
    .home .banner .span {
        display: block;
    }
    
    .home .banner .slogan1 {
        color: var(--color-primary);
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 12px;
    }
    
    .home .banner h1 {
        font-size: 40px;
    }
    
    .home .banner .slogan2 {
        margin-bottom: 15px;
        font-size: 12px;
    }
    
}